*{margin: 0;padding: 0;}
body{
    min-width: 1000px;
}
ul{list-style: none;}
a:link , a:visited{color:#333;text-decoration: none;}
#myMenu{
    position: fixed;
    z-index: 10;
    left:0;
    top:0;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    height: 40px;
}

#myMenu li{
    width: 150px;
    height: 40px;
    float: left;
    line-height: 40px;
}

#fullpage .section:nth-child(1){background:url(./section01.jpg) no-repeat top/cover;
    box-sizing: border-box;
    padding-top: 60px;
}
#fullpage .section:nth-child(2){background:url(./section02.jpg) no-repeat top/cover;}
#fullpage .section:nth-child(3){background:url(./section03.jpg) no-repeat top/cover;}
#fullpage .section:nth-child(4) iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    object-fit: cover;
}